.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  padding: 20px;
  background-color: #fff;
  /*background-color: rgb(43, 81, 104);*/
  font-family: 'Press Start 2P', cursive;
/*  border: 12px solid rgb(205, 169, 86);
  border-radius: 9px;
  box-shadow: inset 0 0 0 6px rgb(212, 215, 229);*/
}

.header {
  font-size: 1.125rem;
  color: rgb(117, 114, 104);
  text-align: center;
}

.gamesList {
  height: 350px;
  margin: 20px 0;
  overflow-y: scroll;
  border: 4px solid rgb(41, 64, 14);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid rgb(41, 64, 14);
}

.winLoss {
  width: 10rem;
  font-size: 24px;
}

.playerName {
  margin: 0;
}

.team {
  display: flex;
  margin: 0 1rem;
}

.pokemonCard {
  margin: 0 1rem;
  font-size: 0.8em;
}