.lobby {
  margin: 0 auto;
  width: calc(16 * 48px);
  position: relative;
}

.row {
  height: 48px;
}

.terrain {
  display: inline-block;
  height: 48px;
  width: 48px;
  background: url(/assets/grass.gif) 0 0 no-repeat;
  background-size: 48px 48px;
  z-index: -1;
}

.grass {
  composes: terrain;
}
