.stats {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #F8F8D8;
  color: #444;
  height: 100px;
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 4px solid #213504;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #506859;
}

.pokemonName {
  font-size: 25px;
  text-shadow: 2px 4px #D2D1B2;
}

.healthBar {
  position: relative;
  height: 20px;
  background: #506757;
  padding: 6px;
  border-radius: 20px;
  margin: 1rem 0;
}

.healthName {
  position: absolute;
  top: 17px;
  left: 15px;
  background: -webkit-linear-gradient(#F8E71C 0%, #F5A623 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translate(-5%, -50%);
  font-size: 20px;
}

.healthPoints,
.healthDamage {
  position: absolute;
  transition: width 1s ease;
}

.healthPoints {
  top: 4px;
  right: 4px;
  width: auto;
  border-width: 2px;
  border-style: solid;
  border-color: #FFF;
}

.attack {
  animation-name: attack;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: once;
}

@keyframes attack {
  50% {
    position: absolute;
    top: -100%;
    left: 150%;
    transform: translate(0, 0);
  }
}

.isAttacked {
  opacity: 0;
  animation-name: isAttacked;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: once;
}

@keyframes isAttacked {
  0% { opacity: 1 }
  5% { opacity: 0 }
  10% { opacity: 1 }
  15% { opacity: 0 }
  20% { opacity: 1 }
  25% { opacity: 0 }
  30% { opacity: 1 }
}

.dead {
  opacity: 0;
  animation-name: dead;
  animation-duration: 2s;
  animation-timing-function: ease;
  animation-iteration-count: once;
}

@keyframes dead {
  0% { opacity: 1 }
  5% { opacity: 0 }
  10% { opacity: 1 }
  15% { opacity: 0 }
  20% { opacity: 1 }
  25% { opacity: 0 }
  30% { opacity: 1 }

  60% {
    top: 10%;
    transform: translate(-50%, -10%) rotate(90deg);
    opacity: 1;
  }

  80% {
    top: 110%;
    transform: translate(-50%, -110%) rotate(90deg);
   }

  100% {
    top: 110%;
    transform: translate(-50%, -110%) rotate(90deg);
    opacity: 0;
   }
}
